# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment (if used)
conda/
venv/
env/

# Secrets
.env
dineIQ_service_account.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# database
sqliteDB/*.db
sqliteDB/*.db-wal
sqliteDB/*.db-shm
sqliteDB/*.xlsx
sqliteDB/*.log

# test/utility files
utilities/test*.py
utilities/*menu*.py
utilities/*.html

# code reference files
*.zip